body {
  background-color: black;
  padding: 0;
  margin: 0;
  --First-font: "Roboto", sans-serif;

}

.cross {
  background-color: white;
  width: 5vw;
  height: 2px;
  margin: 2vh;
}

.crossOne {
  transform: rotate(-45deg);
}
.crossTwo {
  transform: rotate(45deg) translate(-1.7vh, -2.2vw);
}

a {
  text-decoration: none;
  color: white;
  font-family: var(--First-font);
  font-size: 2rem;
}

.ContainerNAV {
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

li {
  list-style-type: none;
  padding: 5%;
}

ul {
  height: 25%;
  position: relative;
  top: 30%;
  transform: translateY(-50%);
}
